@import '~payload/scss';

.rich-text-video {
  padding: base(0.5);
  display: block;
  align-items: flex-start;
  background: $color-background-gray;
  max-width: base(15);
  margin-bottom: base(0.5);

  svg {
    width: base(1);
    height: base(1);
    margin-right: base(0.25);
  }

  &__label {
    padding-top: base(0.25);
    line-height: base(0.75);
  }

  &--selected {
    box-shadow: $focus-box-shadow;
    outline: none;
  }
}
